body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    border-radius: 16px;
    padding: 16px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0 0% 25%);
    min-width: 252px;

}

#screenDisplay {
    background-color: antiquewhite;
    width: 240px;
    height: 80px;
    border: none;
    border-radius: 12px;
    margin-bottom: 16px;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

button {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 16px;
    border: none;
    font-size: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.number,
.decimal {
    background-color: hsl(0 0% 40%);
}

.clear,
.erase,
.sign {
    background-color: hsl(0 0% 60%);
}

.number:active,
.decimal:active,
.clear:active,
.erase:active,
.sign:active {
    background-color: hsl(0 0% 75%);
    color: black;
}

.operator {
    background-color: hsl(39, 97%, 57%);
}

.operator:focus,
.equal:focus {
    background-color: hsl(39, 97%, 77%);
    color: black;
}

.equals {
    background-color: hsl(39, 97%, 57%);
    width: 114px;
}

.current {
    font-size: 35px;
    padding: 4px;

}

.previous {
    font-size: 20px;
    padding: 4px;
}

.disableNums {
    background-color: hsl(0, 3%, 75%);
    color: rgb(49, 49, 49);
}

.disableFunc {
    background-color: hsl(39, 80%, 85%);
    color: rgb(49, 49, 49);
}